# Domain Routing
HOST_RULE=Host(`mail.aaronsoft.de`) || Host(`mail.get-orga-niced.de`)

# Database Secrets
MYSQL_ROOT_PASSWORD=super_secure_root_pass
MYSQL_PASSWORD=roundcube_pass
MYSQL_DATABASE=roundcubemail
MYSQL_USER=roundcube

# App Specifics
ROUNDCUBEMAIL_DES_KEY=some_random_string_for_security

# Google Address Book Plugin
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret